In [2]:
# import necessary libraries
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

def generate_and_export_purchases_tables():

    """
    This function generates two tables and exports them as CSV files. The first table contains 10,000 purchase entries for 100 customers, with 5 unique products. The second table contains 100,000 marketing touch entries for 200 customers (including the 100 customers from the first table), with 5 unique marketing touch points.

    The format of the purchase table is as follows:
    - Customer: the name of the customer who made the purchase
    - Purchase Date: the date on which the purchase was made
    - Product: the name of the product purchased

    The format of the marketing touch table is as follows:
    - Customer: the name of the customer who received the marketing touch
    - Marketing Date: the date on which the marketing touch was received
    - Marketing Touch: the type of marketing touch received (Direct, Email, Organic, Referral, or Unknown)

    Both tables are exported as CSV files named "customer_purchases.csv" and "marketing_touches.csv" respectively, in the same directory as the script.
    The function will also return two dataframes for the purchase and marketing touch tables.

    Usage:
    - Run this function in a notebook such as Jupyter to generate the tables and CSV files.
    """

    # generate 100 random customers
    customers = [f"Customer {i+1}" for i in range(100)]

    # generate 5 unique items that can be purchased
    items = ["Item A", "Item B", "Item C", "Item D", "Item E"]

    #randomize datetime covering 180 days from 1/1/2022 to 6/30/2022 for 10,000 purchases
    purchase_dates = [datetime(2022, 1, 1) + timedelta(days=random.randint(0, 180)) for _ in range(10000)]

    # create a dataframe of purchases with customer, purchase date, and product purchased - randomized customer and product.
    purchases = pd.DataFrame({
        "Customer": np.random.choice(customers, size=10000),
        "Purchase Date": purchase_dates,
        "Product": np.random.choice(items, size=10000)
    })

    # setup data for marketing touches

    # generate random dates for marketing touches 180 days from 1/1/2022 to 6/30/2022 for 100,000 marketing touches
    marketing_dates = [datetime(2022, 1, 1) + timedelta(days=random.randint(0, 180)) for _ in range(100000)]
    # generate customer list with additional 100 customers for marketing touches
    customers_marketing_touches = [f"Customer {i+1}" for i in range(200)]

    # create a dataframe of marketing touches with customer, marketing date, and marketing touch - randomized customer and marketing touch.
    marketing_touches = pd.DataFrame({
        "Customer": np.random.choice(customers_marketing_touches, size=100000),
        "Marketing Date": marketing_dates,
        "Marketing Touch": np.random.choice(["Direct", "Email", "Organic", "Referral", "Unknown"], size=100000)
    })

    # export the tables as CSV files
    purchases.to_csv("customer_purchases.csv", index=False)
    marketing_touches.to_csv("marketing_touches.csv", index=False)
    return purchases, marketing_touches

In [3]:
import random
import pandas as pd


def generate_and_export_matches_tables():
    """
    This function generates two tables and exports them as separate CSV files. The first table contains the names and IDs of 20 sports teams, while the second table contains the winner/loser IDs for 200 matches between the teams.

    The format of the team table is as follows:
    - ID: a unique integer identifier for each team, starting from 1
    - Name: the name of the team, in the format "Team <random string>" e.g. Team Alpha

    The format of the match table is as follows:
    - Match ID: a unique integer identifier for each match, starting from 1
    - Winner ID: the ID of the winning team
    - Loser ID: the ID of the losing team

    Each team plays against every other team at least once. The script randomly generates the team names and match results.

    Both tables are exported as CSV files named "teams.csv" and "matches.csv", respectively, in the same directory as the script.

    Usage:
    - Run this function in a notebook such as Jupyter to generate the two tables and CSV files.
    """

    # Define the number of teams and matches
    num_teams = 20
    num_matches = 200

    # Define a list of random strings to use in team names
    random_strings = ['Alpha', 'Bravo', 'Charlie', 'Delta', 'Echo', 'Foxtrot', 'Golf',
                    'Hotel', 'India', 'Juliet', 'Kilo', 'Lima', 'Mike', 'November',
                    'Oscar', 'Papa', 'Quebec', 'Romeo', 'Sierra', 'Tango', 'Uniform',
                    'Victor', 'Whiskey', 'Xray', 'Yankee', 'Zulu']

    # Create a list of unique team names using the random strings
    team_names = []
    while len(team_names) < num_teams:
        name = f'Team {random.choice(random_strings)}'
        if name not in team_names:
            team_names.append(name)

    # Create a DataFrame for the teams with incrementing integer IDs
    team_ids = list(range(1, num_teams+1))
    teams_df = pd.DataFrame({'team_id': team_ids, 'team_name': team_names})

    # Create a list of all possible match combinations
    match_combinations = []
    for i in range(num_teams):
        for j in range(i+1, num_teams):
            match_combinations.append((i, j))

    print("orig match combi")
    print(match_combinations)
    print(len(match_combinations))

    # Shuffle the match combinations and choose the first num_matches
    random.shuffle(match_combinations)
    match_combinations = match_combinations[:num_matches]

    
    print(match_combinations)
    print(len(match_combinations))

    # Create a list of match results with winner and loser IDs
    match_results = []
    # generate winner and loser from match combinations
    for match in match_combinations:
        rng = random.randint(0, 1)
        winner = team_ids[match[rng]]
        loser = team_ids[match[1-rng]]
        match_results.append((winner, loser))

    # Create a DataFrame for the matches with winner and loser IDs
    matches_df = pd.DataFrame(match_results, columns=['winner_id', 'loser_id'])


    # Output the two tables to separate CSV files
    teams_df.to_csv('teams.csv', index=False)
    matches_df.to_csv('matches.csv', index=False)
    return teams_df, matches_df

## Checker

Teams table
- [✔️] 'teams' table should have the ff columns: team_id, team name
- [✔️] 'teams' should have 20 unique teams
- [✔️] 'team_id' is an incrementing integer starting from 1
- [✔️] 'team_name' should follow the format "Team <random string>"

Matches table
- [✔️] 'matches' table should have the ff columns: winner_id, loser_id, (optional: match_id)
- [❌] 'matches' should contain 200 matches
- [✔️] each team must play against every other team at least once

In [4]:
# runs the functions above to export tables and return tables as dataframes

teams_df, matches_df = generate_and_export_matches_tables()
purchases_df, marketing_touches_df = generate_and_export_purchases_tables()

orig match combi
[(0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (0, 10), (0, 11), (0, 12), (0, 13), (0, 14), (0, 15), (0, 16), (0, 17), (0, 18), (0, 19), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (1, 10), (1, 11), (1, 12), (1, 13), (1, 14), (1, 15), (1, 16), (1, 17), (1, 18), (1, 19), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (2, 10), (2, 11), (2, 12), (2, 13), (2, 14), (2, 15), (2, 16), (2, 17), (2, 18), (2, 19), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (3, 10), (3, 11), (3, 12), (3, 13), (3, 14), (3, 15), (3, 16), (3, 17), (3, 18), (3, 19), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (4, 10), (4, 11), (4, 12), (4, 13), (4, 14), (4, 15), (4, 16), (4, 17), (4, 18), (4, 19), (5, 6), (5, 7), (5, 8), (5, 9), (5, 10), (5, 11), (5, 12), (5, 13), (5, 14), (5, 15), (5, 16), (5, 17), (5, 18), (5, 19), (6, 7), (6, 8), (6, 9), (6, 10), (6, 11), (6, 12), (6, 13), (6, 14), (6, 15), (6, 16), (6, 17), (6, 18), (6, 19), (7, 8), (7, 9), (7, 10), (7, 11), (7, 12), (7, 13), (7, 14), (7, 15), (7, 16), (7, 17), (7, 18), (7, 19), (8, 9), (8, 10), (8, 11), (8, 12), (8, 13), (8, 14), (8, 15), (8, 16), (8, 17), (8, 18), (8, 19), (9, 10), (9, 11), (9, 12), (9, 13), (9, 14), (9, 15), (9, 16), (9, 17), (9, 18), (9, 19), (10, 11), (10, 12), (10, 13), (10, 14), (10, 15), (10, 16), (10, 17), (10, 18), (10, 19), (11, 12), (11, 13), (11, 14), (11, 15), (11, 16), (11, 17), (11, 18), (11, 19), (12, 13), (12, 14), (12, 15), (12, 16), (12, 17), (12, 18), (12, 19), (13, 14), (13, 15), (13, 16), (13, 17), (13, 18), (13, 19), (14, 15), (14, 16), (14, 17), (14, 18), (14, 19), (15, 16), (15, 17), (15, 18), (15, 19), (16, 17), (16, 18), (16, 19), (17, 18), (17, 19), (18, 19)]
190
[(7, 13), (7, 16), (14, 19), (8, 19), (7, 12), (5, 16), (13, 17), (2, 7), (7, 15), (5, 6), (1, 6), (9, 12), (11, 15), (9, 13), (16, 17), (0, 7), (3, 6), (12, 13), (2, 15), (8, 18), (7, 10), (10, 18), (0, 15), (3, 8), (16, 18), (6, 18), (7, 11), (2, 3), (4, 7), (1, 7), (5, 14), (0, 6), (5, 11), (0, 10), (1, 15), (6, 13), (10, 15), (7, 8), (15, 17), (4, 10), (2, 5), (1, 13), (1, 19), (0, 11), (6, 16), (9, 18), (1, 11), (6, 12), (0, 12), (3, 5), (3, 19), (14, 17), (11, 17), (11, 18), (8, 9), (17, 19), (3, 11), (5, 9), (12, 16), (13, 16), (1, 9), (4, 14), (5, 17), (11, 14), (0, 18), (2, 4), (1, 5), (9, 16), (5, 7), (0, 16), (7, 19), (1, 3), (2, 14), (14, 15), (4, 19), (3, 7), (8, 16), (5, 19), (4, 15), (5, 8), (7, 9), (1, 18), (5, 13), (16, 19), (2, 19), (2, 6), (2, 9), (6, 15), (1, 16), (0, 1), (9, 19), (3, 10), (4, 13), (10, 12), (10, 13), (3, 18), (0, 19), (0, 14), (11, 13), (6, 10), (1, 2), (1, 10), (9, 17), (4, 11), (4, 17), (17, 18), (1, 17), (3, 9), (4, 6), (0, 8), (8, 15), (8, 17), (0, 13), (9, 10), (10, 11), (12, 19), (0, 2), (3, 4), (12, 17), (1, 12), (5, 15), (15, 18), (0, 9), (14, 16), (4, 12), (2, 10), (10, 17), (3, 15), (0, 5), (11, 19), (13, 14), (18, 19), (2, 18), (2, 17), (2, 16), (4, 9), (12, 15), (2, 8), (6, 7), (13, 15), (4, 16), (6, 9), (5, 12), (3, 14), (7, 17), (4, 18), (9, 11), (8, 13), (15, 16), (4, 5), (10, 16), (3, 12), (6, 17), (1, 4), (13, 19), (2, 13), (5, 10), (7, 18), (6, 11), (0, 4), (8, 12), (3, 13), (15, 19), (8, 11), (10, 14), (9, 15), (9, 14), (10, 19), (5, 18), (3, 16), (14, 18), (13, 18), (8, 14), (11, 16), (6, 14), (11, 12), (3, 17), (2, 12), (1, 14), (6, 19), (4, 8), (12, 18), (12, 14), (7, 14), (0, 3), (6, 8), (8, 10), (1, 8), (0, 17), (2, 11)]
190

In [5]:
assert teams_df.shape[0]  == 20
assert matches_df.shape[0]  == 200

AssertionError:

In [ ]:
num_of_teams = 20
team_ids = list(range(1, num_of_teams+1))
# team_ids
team_match_matrix = pd.DataFrame(columns=team_ids, index=team_ids)
team_match_matrix = team_match_matrix.fillna(0)
# team_match
for index, row in matches_df.iterrows():
    team_match_matrix[row['winner_id']][row['loser_id']] += 1
    team_match_matrix[row['loser_id']][row['winner_id']] += 1

In [ ]:
team_match_matrix

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
5,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1
7,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1
8,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1
9,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
10,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
11,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
12,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
13,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1
14,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1
15,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1
16,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1
17,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1
18,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
19,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1
20,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0

## Checker

Purchases table
- [✔️] 'purchases' table should have the ff columns: customer_name, purchase_date, purchased_item
- [✔️] 'purchases' should have 10000 rows
- [✔️] 'purchases' should only have 100 unique customers
- [✔️] 'purchases' transaction should only span 180 days (about 6 months)

Marketing Touches table
- [✔️] 'marketing_touches' table should have the ff columns: customer_name, marketing_date, marketing_touch
- [✔️] 'marketing_touches' should contain 200 unique customers include the 100 from the first table 
- [✔️] 'marketing_touches' should only have the ff. marketing touch points types: “Direct”, “Email”, “Organic”, “Referral”, “Unknown”

In [6]:
assert purchases_df.shape[0]  == 10000
assert marketing_touches_df.shape[0]  == 100000

In [10]:
assert len(purchases_df.Customer.unique()) == 100

In [30]:
purchase_merge = pd.merge(purchases_df, marketing_touches_df, on=['Customer','Customer'], how="outer", indicator=True)
purchase_merge = purchase_merge[purchase_merge['_merge'] == 'both']

In [36]:
assert len(purchase_merge['Customer'].unique()) == 100

In [13]:
purchases_df['Purchase Date'].agg(['min', 'max'])

min   2022-01-01
max   2022-06-30
Name: Purchase Date, dtype: datetime64[ns]

In [14]:
assert len(marketing_touches_df.Customer.unique()) == 200

In [16]:
marketing_touches_df['Marketing Touch'].unique()

array(['Email', 'Organic', 'Direct', 'Referral', 'Unknown'], dtype=object)

In [17]:
marketing_touches_df

           Customer Marketing Date Marketing Touch
0       Customer 89     2022-02-21           Email
1      Customer 178     2022-04-07         Organic
2       Customer 54     2022-05-22          Direct
3      Customer 195     2022-01-16         Organic
4       Customer 82     2022-02-11           Email
...             ...            ...             ...
99995  Customer 139     2022-02-27         Organic
99996  Customer 196     2022-06-06         Unknown
99997    Customer 9     2022-06-28          Direct
99998   Customer 16     2022-01-21          Direct
99999   Customer 94     2022-05-24        Referral

[100000 rows x 3 columns]